.record-card-footer-buttons {
    display: flex;
    flex-grow: 3;
}

.record-card-footer-comment-wrapper {
    display: flex;
    flex-grow: 7;
    justify-content: flex-end;
}

.record-card-footer-comment {
    display: flex;
    align-items: center;
}

.record-card-upper-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 2;
}

.record-card-title {
    flex-grow: 8;
    font-size: 2em;
}

.record-card {
    border: solid 3px black;
}