.react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    display: inline-block;
}

.active {
    background-color: gray;
}

.disabled {
    opacity: 0.3;
}